* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/fon_background.jpg");
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-repeat: none;
}

.main_block {
    width: 1000px;
    height: 990px;
	z-index: 10;
	margin: 0 auto;;
    margin-bottom: 30px;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.78);
}

.clearfix:after {
    content: ' ';
    clear: both;
    float: none;
    display: block;
}
 

header {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    }

.logo  {
    float: left;
    top: 30px;
    margin-left: 40px;
    margin-top: 5px;
}

.top_block {
    float: right;
    width: 50%;
}

.our_contacts {
    display: inline-block;
    list-style: none;
    color: #128aa7;
    font-size: 12px;
    font-family: Tahoma;
    margin-right: 30px;
    margin-top: 10px;
    float: right;
}

.our_contacts li {
    padding-bottom: 2px;
}

.contacts {
    font-weight: bold;
    padding-bottom: 2px;
}

.our_contacts li a {
    cursor: pointer;
    text-decoration: none;
    color: #128aa7; 
}

.countries {
    margin-right: 30px;
    margin-top: 30px;
    float: right;
    list-style: none;
}

.countries li {
    float: left;
    padding-left: 4px;
}

.countries li a {
    display: block;
    text-align: center;
    padding-top: 45px;
    width: 55px;
    color: #128aa7;
    font-family: Tahoma;
    font-size: 10px;
    cursor: pointer;
    background-position: center top;
}

.countries .india a {
    background: url(../img/i_flag.png) top center no-repeat;
      
}

.countries .Nepal a {
    background: url(../img/n_flag.png) top center no-repeat;
}

.countries .Tibet a {
    background: url(../img/t_flag.png) top center no-repeat;
}

.countries .Butan a {
    background: url(../img/b_flag.png) top center no-repeat;
}

.countries .Shrilanka a {
    background: url(../img/s_flag.png) top center no-repeat;
}

.countries .Maldivi a {
    background: url(../img/m_flag.png) top center no-repeat;
}

.photo {
    size: auto;
    height: 245px;
    width: 100%;
    border: solid 1px #138aa7;
    border-top: 10;
    border-right: 0;
    border-left: 0;
}


   A:visited { text-decoration: none; } 
   A:active { text-decoration: none; }
   A:hover {
    text-decoration: none;
    color: red;
   }
 
 
.clearfix {
    clear: both;
    display: block;
}
 
.menu {
    margin-top: 0px;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.78);
    z-index: 10;
    position: relative;
    border-bottom: solid 1px black;
    height: 30px;
}
 
ul.nav {
    list-style: none;
    background-color: #343434;
    display: block;
    border: solid 1px black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
}


.nav li {
    float: left;
    position: relative;
    width: 14.28%;
    
}
 
.nav li a {
    display: block;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    background-color: #343434;
    color: white;
    font-size: 14px;
    font-family: Tahoma;
      
}

.nav li a:hover {
	text-decoration: none;
	background-color: #000000;
}
 
.nav ul{
    display: none;
    position: absolute;
    width: 150px;
    top: 28px;
    left: 0;
    background-color: #343434;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.78);
    
}
 
.nav ul li{
    display: block;
    width: 100%;
}
 

.triangle:after {
  position: absolute;
  top: 50%;
  right: 0;
  content:'';
  display:block;
  right: 15px;
  border: 5px solid transparent; border-top: 5px solid #ffffff; 
}


.nav li:hover ul {
    display: block;
    border-top: 1px solid #000;
    z-index: 0;
    
}
 
.content {
    display: flex;
    flex-direction: row;
    font: 14px Tahoma;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.info h2, .news h2 {
    text-align: center;
    margin-bottom: 15px;
}

.info, .data, .news {
    padding: 15px;
    box-sizing: border-box;
    line-height: 1.5em;
    
}

.info {
    width: 210px;
    height: 540px;
    background-color: #edeef0;
    text-align: justify;
    padding: 10px;
    border: 1px solid #c7cacf;
}
 
.data {
    flex: 2 60%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    text-align: justify;
}
 
.news {
    width: 210px;
    height: 540px;
    background-color: #edeef0;
    text-align: justify;
    padding: 10px;
    border: 1px solid #c7cacf;
}
 
footer {
    color: white;
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 10px;
}
.clearfix{
    clear: both;
    display: block;
}
